---
layout: default
title: Authors
---

<header id="head" class="secondary"></header>

<div class="container">

    <h1>List of authors</h1>

    <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
            <ul>
                <li><a target="extlink" href="http://web.vu.lt/ff/k.aidas/">Kestutis Aidas</a>
                <li><a target="extlink" href="http://chim183.unife.it/angeli.html">Celestino Angeli </a>
                <li>Keld L. Bak
                <li><a target="extlink" href="http://www.mn.uio.no/kjemi/english/people/aca/vebjornb/index.html">Vebj&oslash;rn Bakken</a>
                <li><a target="extlink" href="http://bast.fr">Radovan Bast</a>
                <li>Linus Boman
                <li><a target="extlink" href="http://www.ctcc.no/people/researchers/bin-gao/">Bin Gao</a>
                <li><a target="extlink" href="http://pure.au.dk/portal/da/ove@chem.au.dk">Ove Christiansen</a>
                <li><a target="extlink" href="http://chim183.unife.it/cimiraglia.html">Renzo Cimiraglia </a>
                <li><a target="extlink" href="http://www.dsch.units.it/theochem/">Sonia Coriani</a>
                <li><a target="extlink" href="http://pom.chem.uw.edu.pl/people/post-doctoral-researcher/janusz-cukras/">Janusz Cukras</a>
                <li>P&aring;l Dahle
                <li>Erik K. Dalskov
                <li><a target="extlink" href="http://www.ctcc.no/people/postdocs/ulfek/">Ulf Ekstr&ouml;m</a>
                <li>Thomas Enevoldsen
                <li>Janus J. Eriksen
                <li>Patrick Ettenhuber
                <li>Rasmus Faber
                <li><a target="extlink" href="http://www.usc.es/ciqus/en/general-information/staff/berta-fernandez-rodriguez">Berta Fernandez</a>
                <li><a target="extlink" href="http://phys.au.dk/forskning/forskningsomraader/condensed-matter-physics/theoretical-surface-science-group/members-of-the-group/lara-ferrighi/">Lara Ferrighi</a>
                <li><a target="extlink" href="http://www.ctcc.no/people/researchers/heikef/">Heike Fliegl</a>
                <li><a target="extlink" href="http://www.ctcc.no/people/senior-scientists/luca/index.html">Luca Frediani</a>
                <li>Kasper Hald
                <li>Asger Halkier
                <li>Frederik Beyer K. Hansen
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <ul>
                <li><a target="extlink" href="http://www.theochem.ruhr-uni-bochum.de/research/haettig/index.de.html">Christof H&auml;ttig</a>
                <li><a target="extlink" href="http://findresearcher.sdu.dk:8080/portal/en/person/edh">Erik D. Hedeg&aring;rd</a>
                <li>Hanne Heiberg
                <li><a target="extlink" href="http://folk.uio.no/helgaker/index.html">Trygve Helgaker</a>
                <li>Alf Christian Hennum
                <li><a target="extlink" href=" http://auckland.academia.edu/HinneHettema ">Hinne Hettema</a>
                <li>Eirik Hjerten&aelig;s
                <li>Ida-Marie H&oslash;yvik
                <li><a target="extlink" href="http://pure.au.dk/portal/da/persons/stinne-hoest(9c7d5bc3-fe46-4cc3-b288-911cf3ee75c5).html">Stinne H&oslash;st</a>
                <li><a target="extlink" href="http://www.ctcc.no/people/researchers/roberiz/">Robert Izsak</a>
                <li>Maria Francesca Iozzi
                <li><a target="extlink" href="http://innet.vsb.cz/cs/kontakty/profil/?person=jan0369">Branislav Jansik</a>
                <li><a target="extlink" href="http://findresearcher.sdu.dk:8080/portal/en/person/hjj">Hans J&oslash;rgen Aagaard Jensen</a>
                <li><a target="extlink" href="http://uit.no/om/enhet/ansatte/person?p_document_id=44087&p_dimension_id=88223">Dan Jonsson</a>
                <li><a target="extlink" href="http://pure.au.dk/portal/da/persons/id(f8e8ca78-f7f6-460a-8e7a-0744a6373d76).html">Poul J&oslash;rgensen</a>
    	    <li><a target="extlink" href="http://pom.chem.uw.edu.pl/people/phd-students/maciej-kaminski/">Maciej Kamiński</a>
                <li><a target="extlink" href="http://cms.ifm.liu.se/theomod/compphys/joaka.xml">Joanna Kauczor</a>
                <li>Sheela Kirpekar
                <li><a target="extlink" href="http://pure.au.dk/portal/da/persons/thomas-kjaergaard(6ad09f91-cc87-4fc8-8e6d-e02f23f78b10).html">Thomas Kj&aelig;rgaard</a>
                <li><a target="extlink" href="http://www.ipc.uni-karlsruhe.de/theochem/675_521.php">Wim Klopper</a>
                <li><a target="extlink" href="http://www.reiher.ethz.ch/people/knechste">Stefan Knecht</a>
                <li><a target="extlink" href="http://anusf.anu.edu.au/~rxk900/">Rika Kobayashi</a>
                <li><a target="extlink" href="http://www.ntnu.no/ansatte/henrik.koch">Henrik Koch</a>
                <li><a target="extlink" href="http://findresearcher.sdu.dk:8080/portal/en/person/kongsted">Jacob Kongsted</a>
                <li>Andreas Krapp
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <ul>
                <li><a target="extlink" href="http://pure.au.dk/portal/da/persons/id(f28b039e-b2de-4b34-bf85-6d423bf84a13).html">Kasper Kristensen</a>
                <li>Andrea Ligabue
                <li><a target="extlink" href="https://www.kth.se/profile/nalist">Nanna H. List</a>
                <li>Ola B. Lutn&aelig;s
                <li>Juan I. Melo
                <li><a target="extlink" href="http://www.ctcc.no/people/phd-students/patrime/">Patrick Merlot</a>
                <li><a target="extlink" href="http://chem.ku.dk/ansatte/beskrivelse/?id=100888">Kurt V. Mikkelsen</a>
                <li>Rolf H. Myhre
                <li>Christian Neiss
                <li>Christian B. Nielsen
                <li><a target="extlink" href="https://www.kth.se/profile/panor/">Patrick Norman</a>
                <li><a target="extlink" href="http://pure.au.dk/portal/da/persons/id(a0ff9e98-8528-45b1-8c0a-b5b1fc9abc86).html">Jeppe Olsen</a>
                <li><a target="extlink" href="http://findresearcher.sdu.dk:8080/portal/en/person/jmo">J&oacute;gvan Magnus H. Olsen</a>
                <li>Anders Osted
                <li>Martin J. Packer
                <li>Filip Pawlowski
                <li><a target="extlink" href="http://findresearcher.sdu.dk:8080/portal/en/person/mortennp">Morten N. Pedersen</a>
                <li><a target="extlink" href="http://www.mn.uio.no/kjemi/english/people/aca/thomabp/index.html">Thomas B. Pedersen </a>
                <li>Patricio F. Provasi
                <li><a target="extlink" href="http://www.mn.uio.no/kjemi/english/people/aca/simensr/">Simen Reine</a>
                <li><a target="extlink" href="http://www.kth.se/profile/rinkevic/">Zilvinas Rinkevicius</a>
                <li><a target="extlink" href="http://www.it.uu.se/katalog/eliru955">Elias Rudberg</a>
                <li>Torgeir A. Ruden
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <ul>
                <li><a target="extlink" href="http://www.ctcc.no/people/senior-scientists/ruud/">Kenneth Ruud</a>
                <li>Vladimir Rybkin
                <li>Pawel Salek
                <li>Claire C. M. Samson
                <li>Alfredo S&aacute;nchez de Mer&aacute;s
                <li><a target="extlink" href="http://dirac.ups-tlse.fr/saue/">Trond Saue</a>
                <li><a target="extlink" href="http://sites.google.com/site/spasauer/">Stephan P. A. Sauer</a>
                <li>Bernd Schimmelpfennig
                <li>Kristian Sneskov
                <li><a target="extlink" href="http://www.ctcc.no/people/postdocs/steindal/">Arnfinn H. Steindal</a>
                <li><a target="extlink" href="http://findresearcher.sdu.dk:8080/portal/en/person/css">Casper Steinmann</a>
                <li><a target="extlink" href="http://www.sylvesterhvid.dk/kristian/">Kristian O. Sylvester-Hvid</a>
                <li><a target="extlink" href="https://www.vlsci.org.au/researcher/prtaylor">Peter R. Taylor</a>
                <li><a target="extlink" href="http://www.nottingham.ac.uk/chemistry/people/andrew.teale">Andrew M. Teale</a>
                <li>Erik I. Tellgren
                <li>David P. Tew
                <li>Andreas J. Thorvaldsen
                <li><a target="extlink" href="http://www.daimi.au.dk/~lea/">Lea Th&oslash;gersen</a>
                <li><a target="extlink" href="http://www.kth.se/profile/vahtras/">Olav Vahtras</a>
                <li>Mark A. Watson
                <li><a target="extlink" href="http://www.latrobe.edu.au/chemistry-and-physics/contact-us/our-staff/profile?uname=D2Wilson">David J. D. Wilson</a>
                <li>Marcin Ziolkowski
                <li><a target="extlink" href="http://www.kth.se/profile/hagren/">Hans &Aring;gren</a>
            </ul>
        </div>
    </div>
</div>
