---
layout: default
title: Documentation
---

<header id="head" class="secondary"></header>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6 highlight">

            <h2>Manuals</h2>

            <ul>
                <li> <a href="{{ site.baseurl }}/manuals/dalton2016manual.pdf">Dalton 2016</a> (1.5 MB, pdf format)
                <li> <a href="{{ site.baseurl }}/manuals/lsdalton2016manual.pdf">LSDalton 2016</a> (0.5 MB, pdf format)
            </ul>

            <p>
                The Dalton2016 documentation is also included with the distribution in Latex format.
            </p>

            <h2>Manuals for past versions</h2>
            <ul>
                <li> <a href="{{ site.baseurl }}/manuals/dalton2015manual.pdf">Dalton 2015</a>
                <li> <a href="{{ site.baseurl }}/manuals/lsdalton2015manual.pdf">LSDalton 2015</a>
                <li> <a href="{{ site.baseurl }}/manuals/dalton2013manual.pdf">Dalton 2013</a>
                <li> <a href="{{ site.baseurl }}/manuals/lsdalton2013manual.pdf">LSDalton 2013</a>
                <li> <a href="{{ site.baseurl }}/manuals/dalton2011manual.pdf">Dalton 2011</a>
                <li> <a href="{{ site.baseurl }}/manuals/lsdalton2011manual.pdf">LSDalton 2011</a>
            </ul>

            <h2>Forum</h2>

            <p>
                Please consult the <a href="http://forum.daltonprogram.org">user forum</a> for useful tips,
                reporting errors and general discussions concerning Dalton.
            </p>

            <h2>Dalton and ScalaLife</h2>

            <p>
                Dalton is also integrated into the
                <a href="http://www.scalalife.eu/content/dalton-1.html" target="_blank">ScalaLife Competence center</a>,
                a one-stop-shop where developers, experienced users and newcomers can always find useful information
                and tutorials about Dalton on HPC systems: performance, scalability and Dalton code analysis.
            </p>

            <h2>PhD dissertations</h2>

            PhD dissertations from LSDalton developers:
            <ul>
               <li> Lea Th&oslash;gersen: <a href="{{ site.baseurl }}/dissertations/l_thoergersen.pdf">"Optimization of Densities in Hartree-Fock and Density-functional Theory Atomic Orbital Based Response Theory and Benchmarking for Radicals" - 2005</a> (2.0 MB, pdf format)
               <li> Thomas Kj&aelig;rgaard: <a href="{{ site.baseurl }}/dissertations/t_kjaergaard.pdf">"Linear Scaling Wave Function Optimization and Molecular Properties" - 2010</a> (1.5 MB, pdf format)
               <li> Joanna Kauczor: <a href="{{ site.baseurl }}/dissertations/j_kauczor.pdf">"Damped response theory" - 2010</a> (3.8 MB, pdf format)
               <li> Kasper Kristensen: <a href="{{ site.baseurl }}/dissertations/k_kristensen.pdf">"Self-Consistent Field Response Theory and Coupled-Cluster Theory" - 2011</a> (5.1 MB, pdf format)
               <li> Patrick Ettenhuber: <a href="{{ site.baseurl }}/dissertations/p_ettenhuber.pdf">"Size matters: Enabling large-scale coupled cluster calculations" - 2015</a> (9.2 MB, pdf format)
            </ul>

            <h2>Old mailing list</h2>

            <p>
                Until the release of Dalton2013 November 2013, there were a mailing list available.
                The mailing list was meant as forum for exchange of experiences
                between users of the Dalton2011 programs.
                The mailing list is no longer supported, it has been replaced by the
                <a href="http://forum.daltonprogram.org">user forum</a>.
            </p>

            <p>
                A <a href="https://sympa.uio.no/kjemi.uio.no/info/dalton-users">message archive of the postings</a> to the
                dalton-users@kjemi.uio.no mailing list from before the creation of the forum
                is still available to subscribers.
                You must login on sympa.uio.no in order to read the archives.
            </p>

        </div>
    </div>
</div>
